<div class="suggest-movie">
  <h3>
    Share your favorite movie or series!
  </h3>
  <form action="" (ngSubmit)="onSubmit(movieForm)" class='needs-validation' #movieForm="ngForm">
    <div class="form-group">
      <label for="formGroupExampleInput">Movie / Series Name</label>
      <input
        #title="ngModel" 
        [ngClass]="{ 'is-invalid': title.touched && title.invalid, 'is-valid': title.touched && title.valid }"
        type="text" 
        class="form-control"
        ngModel
        name="title"
        required>
      <div class="invalid-feedback">
        Please enter a valid value
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Your name</label>
      <input 
        #name="ngModel" 
        [ngClass]="{ 'is-invalid': name.touched && name.invalid, 'is-valid': name.touched && name.valid }"
        type="text" 
        class="form-control"
        ngModel
        name="suggestedBy"
        pattern="[a-zA-Z\s]+"
        required>
        <div class="invalid-feedback">
          Please enter a valid value
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Synopsis</label>
      <textarea 
        #synopsis="ngModel" 
        [ngClass]="{ 'is-invalid': synopsis.touched && synopsis.invalid, 'is-valid': synopsis.touched && synopsis.valid }"
        class="form-control" 
        name="synopsis" 
        id="" 
        cols="30" 
        rows="10"
        ngModel
        required></textarea>
        <div class="invalid-feedback">
            Please enter a valid value
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Cover Image URL</label>
      <input 
        #cover="ngModel" 
        [ngClass]="{ 'is-invalid': cover.touched && cover.invalid, 'is-valid': cover.touched && cover.valid }"
        type="text" 
        class="form-control"
        name="cover"
        ngModel
        required>
        <div class="invalid-feedback">
          Please enter a valid value
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>

        <div *ngIf="cover.value != ''" class="img-preview">
          <img [src]="cover.value" alt="">
        </div>
    </div>

    <button [disabled]='!movieForm.valid' type="submit" class="btn btn-primary">Submit</button>
    <div class="progress" *ngIf="isLoading">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
  </form>
</div>