<div class="list-main">
    <div *ngFor="let movie of movies" class="media ">
      <img class="mr-3 rounded" src="{{ movie.cover }}" alt="Generic placeholder image">
      <div class="media-body">
        <div>
            <h5 class="mt-0" [innerHTML]="movie.title | searchHighlight: searchQuery"></h5>
            <i> Suggested by: {{ movie.suggestedBy }} </i>
            <div [innerHTML]="movie.synopsis | searchHighlight: searchQuery"></div>
        </div>
        <div class="btn-holders">
          <button class="btn btn-info">+ Add to MyList</button>
        </div>
      </div>
    </div>
</div>