.media img {
    flex-grow: 0;
    max-width: 50%
}

.media {
    margin-bottom: 30px;
}

:host >>> mark {
    padding: 0;
    background-color: yellow;
}

.media-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-holders {
    margin-top: 20px;
}